/* line 1, /home/bumblebee/tobee_blog/blog/app/assets/stylesheets/store_index.css.scss */
.user_container {
  background: url("personal page.png") no-repeat center center fixed;
  background-size: cover;
}
/* line 7, /home/bumblebee/tobee_blog/blog/app/assets/stylesheets/store_index.css.scss */
.user_container #sidebar {
  display: none;
}
/* line 11, /home/bumblebee/tobee_blog/blog/app/assets/stylesheets/store_index.css.scss */
.user_container #sidebar_right {
  display: none;
}
/* line 14, /home/bumblebee/tobee_blog/blog/app/assets/stylesheets/store_index.css.scss */
.user_container #header {
  display: none;
}

/* line 19, /home/bumblebee/tobee_blog/blog/app/assets/stylesheets/store_index.css.scss */
.store_container {
  position: absolute;
  left: 870px;
  top: 400px;
}

/* line 26, /home/bumblebee/tobee_blog/blog/app/assets/stylesheets/store_index.css.scss */
.vertical-menu {
  width: 13vw;
  margin-left: 1vw;
  margin-top: 9.5vh;
  z-index: 95;
}

/* line 34, /home/bumblebee/tobee_blog/blog/app/assets/stylesheets/store_index.css.scss */
.vertical-menu a {
  color: black;
  display: block;
  text-decoration: none;
  font-weight: 500;
  font-size: 2vw;
  line-height: 9vh;
}

/* line 43, /home/bumblebee/tobee_blog/blog/app/assets/stylesheets/store_index.css.scss */
.vertical-menu a:hover {
  color: #ffffff;
}

/* line 48, /home/bumblebee/tobee_blog/blog/app/assets/stylesheets/store_index.css.scss */
.vertical-menu a.active {
  color: #ffffff;
}

/* line 54, /home/bumblebee/tobee_blog/blog/app/assets/stylesheets/store_index.css.scss */
#home_logo {
  position: absolute;
  margin-top: -54vh;
  margin-left: 65.5vw;
}
/* line 60, /home/bumblebee/tobee_blog/blog/app/assets/stylesheets/store_index.css.scss */
#home_logo img {
  position: absolute;
  z-index: 95;
  img-shadow: 10px 10px 5px white;
  -webkit-filter: drop-shadow(2px 1px 1px rgba(255, 255, 255, 0.7));
  filter: drop-shadow(3px 3px 2px rgba(255, 255, 255, 0.7));
}

/* line 70, /home/bumblebee/tobee_blog/blog/app/assets/stylesheets/store_index.css.scss */
.btn-oldschool {
  margin-left: 455px;
  margin-top: -50px;
  color: black;
  width: 3em;
  height: 75px;
  border: 2px outset white;
  background: transparent;
  padding: 2px;
  text-decoration: none;
}

/* line 81, /home/bumblebee/tobee_blog/blog/app/assets/stylesheets/store_index.css.scss */
.btn-oldschool:hover {
  color: #00008B;
  text-decoration: none;
}

/* line 85, /home/bumblebee/tobee_blog/blog/app/assets/stylesheets/store_index.css.scss */
.btn-oldschool:active {
  border-style: inset;
}
