<!DOCTYPE html>
<html>
  <head>
  	<title>To Bee Blog</title>
	
	<%= stylesheet_link_tag    'user_show', media: 'all', 'data-turbolinks-track'=> "reload" %>

   </head>	
<body class="container-fluid">
  <div class="profile-bg container">
    <div class="content">
    <img src="https://i.pinimg.com/736x/28/9d/b6/289db605e43ca385bdf026576fb435bb--human-sketch-man-face-sketch.jpg">
      <p><h3>Welcome back, <%= @user.username %>!</h3>
      Your introducing: Lorem ipsum dolor sit amet, consectetur adipisicing       elit. Ea, repellat dolore nisi, id omnis, necessitatibus     mollitia distinctio delectus soluta eveniet accusantium       quas veritatis aliquam! Ea architecto beatae inventore       qui quisquam?</p>
    <small>wwwco</small>
    </div>
    <div class="social-bg">
      <a href="" target="_blank"><i class="fa fa-twitter fa-2x" aria-hidden="true"></i></a>
      
      <a href="" target="_blank"><i class="fa fa-instagram fa-2x" aria-hidden="true"></i></a>
      
      <a href="" target="_blank"><i class="fa fa-pinterest-p fa-2x" aria-hidden="true"></i></a>
    </div>
    <button class="btn btn-default">Edit Profile</button>
  </div>


</body>