<div id="page_wrapper">
  <div id="profile_image">
  	<%= image_tag "Sukithefox.JPG" %>
  </div>

  <div id="content">
  	<h1>Tere, I am Suki, the fox!</h1>
  	<p>Welcome to my blog, where you mainly will find posts about programming.</p>
  	<p>If you'd like to follow along and see what apps I am currently creating, find me on GitHub <a href= "https://github.com/SUKItheFox"> here </a>.</p>
  </div>
</div>  