<html>
<head>
  <%= stylesheet_link_tag    'about', media: 'all', 'data-turbolinks-track'=> "reload" %>
<script type="text/javascript" src="TypingText.js">
/****************************************************
* Typing Text script- By Twey @ Dynamic Drive Forums
* Visit Dynamic Drive for this script and more: http://www.dynamicdrive.com
* Please keep this notice intact
****************************************************/
</script>
</head>
<body>

  <div id="about_container">
    <div id="profile_image">
    	<%= image_tag "Levien.jpg" %>
    </div>

    <div id="content">
    	<h1>About the author</h1>

      <p id="example2">Levien Lockefeer (geboren te Goes, 23 augustus 1993 om half acht in de avond) vind het lastig om in de
    derde persoon over zichzelf te schrijven. Daarom heeft hij deze taak overgelaten aan mensen die hem
    goed kennen. <br /></p>

  		<div id="example1">
    “Besides being a creative, he is also an inspiring guide and humble leader. With his deep
    devotion to being a part of the creation of the new society of free people, Levien not only
    accepts his companions as they are, but also reminds them of their strengths and uniqueness,
    inspires them to bring their visions to life and unite in togetherness for the benefit of all and
    everyone.
    Also, Levien is like a banana - yellow is his colour.”
    Tanel Tiiger
    </br>
    “Levien’s vader is bijzonder objectief als hij stelt dat zijn zoon een mens van vele talenten is.
    Een prachtig mens met prachtig gedachtengoed. Altijd bezig met mooie projecten; van het smeden van
    fraaie messen tot het schrijven van mooie muziek.
    Bovendien heeft Levien een groot hart en kijkt hij kritisch maar met veel liefde naar de wereld.
    De vader van Levien was zich bijzonder bewust van zijn bijzonder scherpe blik toen het gezin in de jaren
    negentig op Sardinië was.
    Op een gegeven moment stond Levien enthousiast te roepen op een steigertje. “ 
    Een octopus, een octopus
    “.
    </br>
    Hij wees meerdere malen waar wij moesten kijken maar ondanks het kristalheldere water zagen wij niets.
    Levien bleef rustig en enthousiast en stuurde ons van kei naar kei. En daar zat hij: een schitterend klein
    octopusje op een witte steen. Werkelijk prachtig!
    We waren verbonden in ons enthousiasme en dat deed hem en de vader en moeder van Levien goed.
    Zijn arendsoog is inmiddels legendarisch evenals zijn prachtige gedachtengoed.”
    Vader ijsbeer 

    Send Levien an email <a href="mailto:leviendeleeuw@protonmail.com">HERE</a></div>

  		

    	
    </div>
  </div>  

  <script type="text/javascript">
  //Define first typing example:
  new TypingText(document.getElementById("example1"));

  //Define second typing example (use "slashing" cursor at the end):
  new TypingText(document.getElementById("example2"), 100, function(i){ var ar = new Array("\\", "|", "/", "-"); return " " + ar[i.length % ar.length]; });

  //Type out examples:
  TypingText.runAll();
  </script>
</body>
</html>


