<html>
<head>
<script type="text/javascript" src="TypingText.js">
/****************************************************
* Typing Text script- By Twey @ Dynamic Drive Forums
* Visit Dynamic Drive for this script and more: http://www.dynamicdrive.com
* Please keep this notice intact
****************************************************/
</script>
</head>
<body>
<div id="page_wrapper">
  <div id="profile_image">
  	<%= image_tag "Levien.jpg" %>
  </div>

  <div id="content">
  	<h1>Heya!</h1>

  		<p id="example2">Welcome to my blog, where you will find rainbows and unicorns.. <br /></p>

		<div id="example1">If you'd like to follow along and see what I am currently diving in to learn or have questions I can answer to, send me an email <a href="mailto:leviendeleeuw@protonmail.com">HERE</a></div>

		

  	
  </div>
</div>  

<script type="text/javascript">
//Define first typing example:
new TypingText(document.getElementById("example1"));

//Define second typing example (use "slashing" cursor at the end):
new TypingText(document.getElementById("example2"), 100, function(i){ var ar = new Array("\\", "|", "/", "-"); return " " + ar[i.length % ar.length]; });

//Type out examples:
TypingText.runAll();
</script>
</body>
</html>


