<div id="page_wrapper">
  <div id="profile_image">
  	<%= image_tag "Levien.jpg" %>
  </div>

  <div id="content">
  	<h1>Heya!</h1>
  	<p>Welcome to my blog, where you will find rainbows and unicorns..</p>
  	<p>If you'd like to follow along and see what I am currently diving in to learn or have questions I can answer to, send me an email <a href="mailto:leviendeleeuw@protonmail.com">HERE</a>.</p>
  </div>
</div>  