<!DOCTYPE html>
<html>
<head>    
<title>To Bee Blog</title>
<%= stylesheet_link_tag    'store_index', media: 'all', 'data-turbolinks-track'=> "reload" %>
<style>
#sidebar
{
display: none;
}
#sidebar_right
{
display: none;
}
#header
{
display: none;
}
#main_content {  
margin-left: 0px;
margin-right: 0px;
margin-top: 0px;
z-index: 0;
}
</style>
</head>  
<body class= "user_container">
<h1> FORUM</h1>


</body>
</html>  


