.forumcomment.clearfix
	.content
		%p.forumcomment_content= forumcomment.forumcomment
		%p.forumcomment_author= forumcomment.user.username
	.buttons
		= link_to "Edit", edit_forumpost_forumcomment_path(forumcomment.forumpost, forumcomment)
		= link_to "Delete", [forumcomment.forumpost, forumcomment], method: :delete, data: { confirm: "Are you sure?" }	