<div id="page_wrapper">

	<h1>Edit Post</h1>

	<%= render 'form' %>


</div>

<% form_for(@post) do |f| %>
<%= render :partial => 'form', :locals => { :f => f } %>
	<p>
		<%= f.submit "Update" %>
	</p>	
<% end %>	