

<% @posts.each do |post| %>
  <div class="post_wrapper">
  	<p class="title"><%= link_to raw(post.title), post %></p>
    <p class="date"><%= time_ago_in_words(post.created_at) %></p>
  </div>
<% end %>