
<script type="text/javascript" src="/assets/tinymce.js"></script>

<% @posts.each do |post| %>
  <div class="post_wrapper">
  	<p class="title"><%= link_to raw(post.title), post %></p>    
  </div>
<% end %>