body { 
  background-color: #ffffff; 
  top: 0px;
  width: 100%;
  
}
#about_container {
		padding: 3vw 3vh ;
		
		#profile_image {
			width: 20%;
			float: left;
			margin-right: 2vw;
			img {
				width: 100%;
				border-radius: 0.35em;
			}
		}
		#content {
			h1 {
				font-weight: 500;
			}
			p {
				font-size: 2vh;
				line-height: 1.75;
			}
			a {
				color: #33acb7;
				font-weight: 700;
				text-decoration: none;
			}
		}
}	

	