/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */


@import "normalize";
@import "bourbon";
@import "bootstrap";


@media screen and (max-width: 320px) { 
	.what_is_beehive_style {
		width: 40%;
		a img.hover {
    	width: 40%;
	}
	a img.default {
	    width: 40%;
	}
	a:hover img.hover {
	    width: 40%;
	}
	a:hover img.default {
	    width: 40%;
	}
	}
	@viewport { width: 320px; } }   
@media screen and (min-width: 768px) and (max-width: 959px) {
	.what_is_beehive_style {
		width: 60%;
	}
	@viewport { width: 768px; } }



body {
	height: 100%;
	width: 100%;
	min-width: 100vw;
	min-height: 100vh;
	padding: 0;
	margin: 0 auto;
	
}

h1, h2, h3, h4, h5, h6 {
	font-weight: 500;
}

a {
	text-decoration: none;
	color: inherit;
}
	
#container {
	
	bottom: 0;
	margin: auto;
	position: absolute;
	right: 0;
	self-align: center;
	width: 100%;    
    min-width: 100vw;
    min-height: 100vh;
}	
	

#main_content {	
	margin-left: 13vw;
	margin-right: 13vw;
	margin-top: 8vh;
	float: center;
	z-index: 90;
	

		
	#myBtn {
		background-color: transparent; /* Add a background */
	    opacity: 1;
		display: none; /* Hidden by default */
	    position: fixed; /* Fixed/sticky position */
	    bottom: 1.6vh; /* Place the button at the bottom of the page */
	    left: 13.6vw; /* Place the button px from the right */
	    z-index: 20; /* Make sure it does not overlap */
	    border: none; /* Remove borders */
	    color: none;
	    outline: none; /* Remove outline */
	    cursor: pointer; /* Add a mouse pointer on hover */
	    border-radius: 10px; /* Rounded corners */
	}

	#myBtn:hover {
	    background-color: #7F1824; /* Add a background on hover */
	    
	    
	}

	.style_arrow {
		width: 90%;
		
	}


	
	.post_wrapper {		
		
		margin-top: 1vh;
		padding: 1vw 1vh;
		self-align: center;
		
		

		

		.title {
			margin: 0px;

			

			
			

			a {
				font-weight: 500;
				text-decoration: none;
				color: #2a2f35;
				font-size: 1.5em;
				&:hover {
					color: #33acb7;
				}
			}
		}

		.body {
			margin: 0;
			a {
				font-weight: 500;
				text-decoration: none;
				color: #2a2f35;
				font-size: 1.5em;
				&:hover {
					color: #33acb7;
				}
			}
		}
		.date_and_author {
			color: #9eafba;
			margin: .5em 0 0 0;
		}
	}
	#post_content {
		padding: 8vh 1vw;
			

		.title {
			font-weight: 500;
			width: 100%;
			height: 100%;
			text-decoration: none;
			color: #2a2f35;
			font-size: 2vh;
			margin-bottom: 0;
		}
		.body {
			font-size: 1.1vh;
			line-height: 1.75;
		}
		.date_and_author {
			color: #9eafba;
			margin: .5vh 0 2vw 0;
		}
		#comments {
			h2 {
				margin: 3vw 0 1vh 0;
				border-bottom: 1vh solid #d6dce0;
				padding-bottom: 0.5vh;
			}
			h3 {
				margin-top: 2vh;
			}
			.comment {
				border-bottom: 1vh solid #d6dce0;
				padding: 1.5vw 2vh;
				.clear_both {
					clear: both;
				}
				&:after {
					clear: both;
				}
				.comment_content {
					float: left;
					.comment_name {
						margin: 1vw 0 0 0;
						font-size: 1.5vh;
						text-transform: uppercase;
					}
					.comment_body {
						font-size: 2vh;
						margin: 0.2vw 0 0 0;
					}
					.comment_time {
						margin-top: 1.2vh;
						font-size: 1.2vh;
					}
				}
				.button {
					float: right;
				}
			}
			input[type="text"], textarea {
				width: 50%;
			}
		}
	}
	#page_wrapper {
		padding: 1vh 1vw;
		
		#profile_image {
			width: 80%;
			float: left;
			margin-right: 2vw;
			img {
				width: 100%;
				border-radius: 0.35em;
			}
		}
		#content {
			h1 {
				font-weight: 500;
			}
			p {
				font-size: 1.2vh;
				line-height: 1.75;
			}
			a {
				color: #33acb7;
				font-weight: 700;
				text-decoration: none;
			}
		}
	}
	.links {
		margin: 2em 0;

	}
	input[type="text"], input[type="email"], input[type="password"], textarea {
		width: 90%;
		border: 1px solid outset #d6dce0;
		border-radius: .35em;
		margin-top: 10px;
		padding: .5em 1em;
		line-height: 1.75;
	}
	input[type="text"] {
		height: 35px;
	}
	textarea {
		min-height: 180px;
	}
	input[type="submit"] {
		outline: none;
		background: transparent;
		border: 1px solid outset #d6dce0;
		padding: .5em 1.5em;
		font-size: 1em;
		margin-left: 0em;
		&:hover {
			border: 1px solid inset #33acb7;
			color: #33acb7;
		}
	}
	

}




#sidebar {
	float: left;
	position: fixed;
	width: 13vw;
	left: 0;
	top: 0;
	height: 100%;
	background-image: url("left sidebar 2");
	z-index: 90;



	

		
	#logo {
		
		z-index: 95; 

	
		
		.style_image {
			position: absolute;
			width: 130%;
			margin-top: -2.5vh;
			left: 3.2vw;
			z-index: 95;
			/*img-shadow: 10px 10px 5px white;*/
			transition: all 3s ease;
			-moz-transition: all 3s ease; /* Firefox 4 */
			-webkit-transition: all 3s ease; /* Safari and Chrome */
			-o-transition: all 3s ease; /* Opera */
			/*-webkit-filter: drop-shadow(2px 1px 1px rgba(255,255,255,.7) );*/
          	/*filter: drop-shadow(3px 3px 2px rgba(255,255,255,.7) );*/
		}	
			

	}
	#logo_pages {
		z-index: 95;

		.style_image_pages {
			position: absolute;
			width: 80%;
			margin-top: -1vh;
			left: 0.8vw;
			z-index: 95;
		}
	}

	#logo #navBar {
		display: none;
	}

	
		
	#navBar {
		top: 17.8%;
		list-style: none;
		color: #000000;
		position: absolute;
		text-align: left;
		z-index: 100;
		width: 100%;
		line-height: 0.8vh;

			 
		.category {	
			
			
			
		

			p::first-letter {
			  font-weight: bold;
			  color: #7F1824;
			}
			
			.beehive {
				padding: 0vh 1.4vw 0vh;
				z-index: 100;
				text-align: left;
				font-weight: bold;				
				font-size: 1.7vh;


				a {
					color: #000000;
					text-decoration: none;
					transition: all 0.4s ease;
					z-index: 100;
					font-weight: bold;
					
					&:hover {
						color: #cafffe;
						position: static;
						z-index: 100;
					}
				}
					
			}
				
				  
			.about {
				padding: 0vh 1.4vw 0vh;
				z-index: 100;
				text-align: left;
				font-weight: bold;				
				font-size: 1.7vh;


				a {
					color: #000000;
					text-decoration: none;
					transition: all 0.4s ease;
					z-index: 100;
					font-weight: bold;
					
					&:hover {
						color: #cafffe;
						position: static;
						z-index: 100;
					}
				}
					
			}
		}


		
		.active {
			a {
				color: #33acb7;
				z-index: 100;
				position: static;
			}
		}
			
	}

	#categories_stable {
		top: 21%;
		padding: 0.3vh 1.4vw;
		list-style: none;
		color: #000000;
		font-weight: bold;
		
		font-size: 1.7vh;
		position: absolute;

		p::first-letter {
		  font-weight: bold;
		  color: #7F1824;
		}
	}



	#category_slides_in {
		top: 24%;
		list-style: none;
		font-weight: bold;
		position: absolute;
		text-align: left;
		padding-right: 6vw;
		padding-left: 2vw;
		width: 100%;
		transition: all 0.5s ease;
		-moz-transition: all 0.5s ease; /* Firefox 4 */
		-webkit-transition: all 0.5s ease; /* Safari and Chrome */
		-o-transition: all 0.5s ease; /* Opera */
		z-index: 100;
	}		

	.category_style {
		display: inline;
		padding: 0 0;
		list-style: none;
		letter-spacing: 0.2vw;
		font-weight: bold;
		z-index: 100;

		span {
				
		
		z-index: 100;
		text-align: left;
		font-weight: bold;
		font-size: 1.7vh;
		

			a {
			color: #000000;
			text-decoration: none;
			transition: all 0.4s ease;
			z-index: 100;
			&:hover {
				color: #cafffe;
				position: static;
				z-index: 100;
				}	
			}
		}
			
	}


	
	.sign_in {
		position: absolute;
		left: 7.7em;
		bottom: 2px;
		font-size: .8em;
		color: #252525;
		z-index: 100;
	}


	
	

	#personal_icon {
		position: absolute;
		width: 3vw;
		height: 21vh;   
		bottom: 1vh;
		left: 3vw;
		z-index: 90;
	}
}

#header {	     
		position: fixed;
		top: 0;
		width: 100%;
		height:10vh;
		opacity: 100;
		margin: 0 auto;
		z-index: 10;



	.homepage_header_style {
		border-bottom: 0.3vh solid black;
		background-image: url("header");
		top: 0;
		width: 100%;
		height:100%;
		margin: 0 auto;
		p {
			list-style: none;
			color: #ffffff;
			font-size: 8vh;
			margin-left: 22vw;
			z-index: 100;
		}	
		h1 {
		    margin-left: 38vw;
		    margin-top: -9vh;
		    color: #66d9ff;
		    height: 3vh;
		    line-height: 5vh;
		    font-size: 4vh;
		    width: 100%;
		    top: 0vh;
		    display: none;
		    z-index: 100;
		}
		
	}
	.category_header_style {
		position: inline;
		self-align: center;
		top: 0;
		margin-left: 12vw;
		width: 100%;
		height:10vh;
		z-index: 20;

	}	

}


#sidebar_right {
	width: 13vw;
	position: fixed;
	float: right;
	right: 0;
	top: 0;
	bottom: 0;
	height: 100%;
	background-image: url("right sidebar 2");
	padding:  0 0 0;
	z-index: 90;


	.bee{
		margin-top: 15vh;
		position:relative;
		animation: ani-bee 10s ease infinite;
		transform-origin: 10% 10%;
		z-index: 100;
	}

	.bee-wing-left,.bee-wing-right,.bee-body{
		position:absolute;
		width: 6.5vh;

	}

	.bee-wing-left{
		top: 0px;
		left: 0px;
		transform-origin: 50% 0%;
		animation: ani-left-wing 0.5s ease infinite;
		-webkit-filter: drop-shadow(2px 1px 1px rgba(255,255,255,.7) );
          	filter: drop-shadow(3px 3px 2px rgba(255,255,255,.7) );
	}

	.bee-wing-right{
		top: 0px;
		left: 0px;
		transform-origin: 50% 0%;
		animation: ani-right-wing 0.5s ease infinite;
		-webkit-filter: drop-shadow(2px 1px 1px rgba(255,255,255,.7) );
          	filter: drop-shadow(3px 3px 2px rgba(255,255,255,.7) );
	}

	@keyframes ani-left-wing {
	 0% {transform: rotate(-10deg);}
	 90% {transform: rotate(0deg);}
	 100% {transform: rotate(-20deg);}
	}

	@keyframes ani-right-wing {
	 0% {transform: rotate(10deg);}
	 90% {transform: rotate(0deg);}
	 100% {transform: rotate(20deg);}
	}

	@keyframes ani-bee {
		0%{ right:0vw;transform: rotate(360deg);}
		50% {right:65vw;transform: rotate(80deg);}
		100% {right:0vw;transform: rotate(-720deg);}
	}	


	
	.what_is_beehive_style {
		position: absolute;
		margin-left: 1.5vw;
		width: 90%;		
		margin-top: 1.5vh;
		z-index: 90;
	}
	a img.hover {
		width: 90%;
    	display: none;
    	border-bottom: 0.2vh solid black;
		border-left: 0.2vw solid black;
		border-right: 0.2vw solid black;
		border-top: 0.2vh solid black;
	}
	a img.default {
		width: 90%;
	    display: inherit;
	    border-bottom: 0.2vh solid black;
		border-left: 0.2vw solid black;
		border-right: 0.2vw solid black;
		border-top: 0.2vh solid black;
	}
	a:hover img.hover {
		width: 90%;
	    display: inherit;
	    border-bottom: 0.2vh solid black;
		border-left: 0.2vw solid black;
		border-right: 0.2vw solid black;
		border-top: 0.2vh solid black;
	}
	a:hover img.default {
		width: 90%;
	    display: none;
	    border-bottom: 0.2vh solid black;
		border-left: 0.2vw solid black;
		border-right: 0.2vw solid black;
		border-top: 0.2vh solid black;
	}

	

	#sidebar_beehive_slide_in {
		position: absolute;
		word-spacing: 0vw;
		width: 100%;
		transition: all 0.5s ease;
		-moz-transition: all 0.5s ease; /* Firefox 4 */
		-webkit-transition: all 0.5s ease; /* Safari and Chrome */
		-o-transition: all 0.5s ease; /* Opera */
		z-index: 100;

		p {
		position: absolute;
		
		font-size: 1.4vw;
		font-family: 'Cutive Mono';
		font-weight: bold;
		left: 2vw;
		line-spacing: .5vh;
		margin-top: 91%;
		z-index: 90;

	}
	}		


	li {
	  border-radius: 10px;
	  
	  margin-left: 6em;
	  margin-top: 5px;
	  background-color: #ffe066;
	  opacity: 30%;
	  list-style: none;
	  border: 1px solid black;
	  color: #000000;
	  text-align: center;
	  font-size: 14px;
	  padding: 1px;
	  width: 100px;
	  transition: all 0.5s;
	  cursor: pointer;
	  
	}

	li span {
	  cursor: pointer;
	  display: inline-block;
	  position: relative;
	  transition: 0.5s;
	}

	li span:after {
	  content: '\00bb';
	  position: absolute;
	  opacity: 0;
	  top: 0;
	  right: -20px;
	  transition: 0.5s;
	}
	li:hover span {
	  padding-right: 5px;
	}

	li:hover span:after {
	  opacity: 1;
	  right: 0;
	}
	


	/*SUKItheFox POPUP*/	

	#popup { 
		position: fixed;
		margin-left: 9vw;
		bottom: 0.2vh;
		z-index: 100;
		 }
	#popup img {
		-webkit-filter: drop-shadow(2px 1px 1px rgba(209, 166, 73,.7) );
          	filter: drop-shadow(3px 3px 2px rgba(209, 166, 73,.7) );
	}	 

	#popup a, #popup a:visited {
		position: relative;
		display: inline;
		text-align: center;
		font-weight: bold;
		padding: 0vw .5vh;
		bottom: 0vh;
		
	}

	#popup a span {
		display: none;
		position: absolute;
		bottom: 0vh;
		font-weight: bold;
			font-size: 0.5vw .5vh;
			text-align: center;
			color: #252525;
	}

	#popup a:hover { 
		background-color: none; 
		

	}

	/* the IE correction rule */
	#popup a:hover	{
		text-indent: 0; /* added the default value */
	}

	#popup a:hover span {
		display: inline;
		position: absolute;
		bottom: -1.9vh;
		left: -8.5vw;
		font-weight: bold;
			font-size: .8vw;
			text-align: center;
			color: #252525;
		
	}

	
}


.what_button {
	outline: none;
	background: transparent;
	border: 1px solid #d6dce0;
	padding: .5em 1.5em;
	border-radius: 1.5em;
	&:hover {
		border: 1px solid #33acb7;
		color: #33acb7;
		a {
			color: #33acb7 !important;
		}
	}
}

.clearfix:after {
   content: ".";
   visibility: hidden;
   display: block;
   height: 0;
   clear: both;
}

.buttons {
			position: absolute;
			float: right;
			margin-left: 10vw;
			bottom: 9vh;
			z-index: 100;

			img{
				width: 5vh;
			}
			
			.button {
				font-size: .8vw;
				padding: 1vh 3vw;
				z-index: 100;
				&:hover {
					
					color: #33acb7;
						}
			}			
}		
	


