/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */


@import "normalize";
@import "bourbon";
@import "bootstrap";


body {
	height: 100%;
	width: 100%;
	min-width: 1000px;
	min-height: 1000px;
	padding: 0;
	margin: 0 auto;
	
}

h1, h2, h3, h4, h5, h6 {
	font-weight: 500;
}

a {
	text-decoration: none;
	color: inherit;
}
	
	
	

#main_content {	
	margin-left: 250px;
	margin-right: 250px;
	margin-top: 100px;
	z-index: 10;
	

		
	#myBtn {
		background-color: transparent; /* Add a background */
	    opacity: 1;
		display: none; /* Hidden by default */
	    position: fixed; /* Fixed/sticky position */
	    bottom: 20px; /* Place the button at the bottom of the page */
	    left: 260px; /* Place the button px from the right */
	    z-index: 20; /* Make sure it does not overlap */
	    border: none; /* Remove borders */
	    color: none;
	    outline: none; /* Remove outline */
	    cursor: pointer; /* Add a mouse pointer on hover */
	    border-radius: 10px; /* Rounded corners */
	}

	#myBtn:hover {
	    background-color: #7F1824; /* Add a background on hover */
	    
	    
	}

	.style_arrow {
		
	}


	
	.post_wrapper {		
		
		margin-top: 1em;
		self-align: center;
		width: 100%;
		

		.title {
			margin: 0px;
			
			

			a {
				font-weight: 500;
				text-decoration: none;
				color: #2a2f35;
				font-size: 1.5em;
				&:hover {
					color: #33acb7;
				}
			}
		}

		.body {
			margin: 0;
			a {
				font-weight: 500;
				text-decoration: none;
				color: #2a2f35;
				font-size: 1.5em;
				&:hover {
					color: #33acb7;
				}
			}
		}
		.date_and_author {
			color: #9eafba;
			margin: .5em 0 0 0;
		}
	}
	#post_content {
		padding: 8em 1em;
		
		

		

		.title {
			font-weight: 500;
			text-decoration: none;
			color: #2a2f35;
			font-size: 2.5em;
			margin-bottom: 0;
		}
		.body {
			font-size: 1.1em;
			line-height: 1.75;
		}
		.date_and_author {
			color: #9eafba;
			margin: .5em 0 2em 0;
		}
		#comments {
			h2 {
				margin: 3em 0 1em 0;
				border-bottom: 1px solid #d6dce0;
				padding-bottom: 0.5em;
			}
			h3 {
				margin-top: 2em;
			}
			.comment {
				border-bottom: 1px solid #d6dce0;
				padding: 1.5em 2em;
				.clear_both {
					clear: both;
				}
				&:after {
					clear: both;
				}
				.comment_content {
					float: left;
					.comment_name {
						margin: 1em 0 0 0;
						font-size: 0.7em;
						text-transform: uppercase;
					}
					.comment_body {
						font-size: 1.2em;
						margin: 0.2em 0 0 0;
					}
					.comment_time {
						margin-top: 1.2em;
						font-size: .8em;
					}
				}
				.button {
					float: right;
				}
			}
			input[type="text"], textarea {
				width: 50%;
			}
		}
	}
	#page_wrapper {
		padding: 3em;
		
		#profile_image {
			width: 300px;
			float: left;
			margin-right: 2em;
			img {
				width: 100%;
				border-radius: 0.35em;
			}
		}
		#content {
			h1 {
				font-weight: 500;
			}
			p {
				font-size: 1.1em;
				line-height: 1.75;
			}
			a {
				color: #33acb7;
				font-weight: 700;
				text-decoration: none;
			}
		}
	}
	.links {
		margin: 2em 0;

	}
	input[type="text"], input[type="email"], input[type="password"], textarea {
		width: 90%;
		border: 1px solid #d6dce0;
		border-radius: .35em;
		margin-top: 10px;
		padding: .5em 1em;
		line-height: 1.75;
	}
	input[type="text"] {
		height: 35px;
	}
	textarea {
		min-height: 180px;
	}
	input[type="submit"] {
		outline: none;
		background: transparent;
		border: 1px solid #d6dce0;
		padding: .5em 1.5em;
		font-size: 1em;
		border-radius: 1.5em;
		margin-left: 0em;
		&:hover {
			border: 1px solid #33acb7;
			color: #33acb7;
		}
	}
	

}




#sidebar {
	width: 250px;
	position: fixed;
	left:0;
	top: 0;
	height: 100%;
	background-image: url("left sidebar 2");
	float:left;
	padding: 7em 0 0 0;
	z-index: 90;


	

		
	#logo {
		
		z-index: 95; 

	
		
		.style_image {
			position: absolute;
			width: 130%;
			margin-top: -150px;
			left: 62px;
			z-index: 95;
			/*img-shadow: 10px 10px 5px white;*/
			transition: all 3s ease;
			-moz-transition: all 3s ease; /* Firefox 4 */
			-webkit-transition: all 3s ease; /* Safari and Chrome */
			-o-transition: all 3s ease; /* Opera */
			/*-webkit-filter: drop-shadow(2px 1px 1px rgba(255,255,255,.7) );*/
          	/*filter: drop-shadow(3px 3px 2px rgba(255,255,255,.7) );*/
		}	
			

	}
	#logo_pages {
		z-index: 95;

		.style_image_pages {
			position: absolute;
			width: 80%;
			margin-top: -130px;
			left: 17px;
			z-index: 95;
		}
	}

	#logo #navBar {
		display: none;
	}

	
		
	#navBar {
		top: 185px;
		list-style: none;
		color: #000000;
		position: absolute;
		text-align: left;
		z-index: 100;
		width: 100%;

			 
		.category {
			font-weight: bold;			
			font-size: 1.2em;
			text-transform: uppercase;
			color: #cafffe;				
			z-index: 100;
		}	
			
			  
		li {
			padding: 0em 1.4em;
			z-index: 100;
			text-align: left;
			font-weight: bold;
			
			font-size: 1.2em;

			a {
				color: #000000;
				text-decoration: none;
				transition: all 0.4s ease;
				z-index: 100;
				font-weight: bold;
				&:hover {
					color: #cafffe;
					position: static;
					z-index: 100;
				}
			}
				
		}

		
		.active {
			a {
				color: #33acb7;
				z-index: 100;
				position: static;
			}
		}
			
	}

	#categories_stable {
		top: 205px;
		padding: 0.3em 1.4em;
		list-style: none;
		color: #000000;
		font-weight: bold;
		
		font-size: 1.2em;
		position: absolute;
	}

	#category_slides_in {
		top: 230px;
		list-style: none;
		font-weight: bold;
		position: absolute;
		text-align: left;
		padding: 0.3em 2em;
		padding-right: 6.5em;
		padding-left: 2.5em;
		width: 100%;
		transition: all 0.5s ease;
		-moz-transition: all 0.5s ease; /* Firefox 4 */
		-webkit-transition: all 0.5s ease; /* Safari and Chrome */
		-o-transition: all 0.5s ease; /* Opera */
		z-index: 100;
	}		

	.category_style {
		display: inline;
		padding: 0em 0em;
		list-style: none;
		letter-spacing: -1px;
		font-weight: bold;
		z-index: 100;

		span {
				
		
		z-index: 100;
		text-align: left;
		font-weight: bold;
		font-size: 1.2em;
		

			a {
			color: #000000;
			text-decoration: none;
			transition: all 0.4s ease;
			z-index: 100;
			&:hover {
				color: #cafffe;
				position: static;
				z-index: 100;
				}	
			}
		}
			
	}


	
	.sign_in {
		position: absolute;
		left: 7.7em;
		bottom: 2px;
		font-size: .8em;
		color: #252525;
		z-index: 100;
	}


	
	

	#personal_icon {
		position: absolute;
		width: 10px;  
		bottom: 15px;
		left: 35px;
		z-index: 90;
	}
}
#header {	     
		position: fixed;
		top: 0;
		width: 100%;
		height:100px;
		opacity: 100;
		margin: 0 auto;
		z-index: 10;



	.homepage_header_style {
		border-bottom: 3.3px solid black;
		background-image: url("header");
		top: 0;
		width: 100%;
		height:100%;
		margin: 0 auto;
		p {
			list-style: none;
			color: #ffffff;
			font-size: 5em;
			margin-left: 400px;
			z-index: 100;
		}	
		h1 {
		    margin-left: 710px;
		    margin-top: 17px;
		    color: #66d9ff;
		    height: 30px;
		    line-height: 90px;
		    font-size: 3em;
		    position: fixed;
		    width: 100%;
		    top: 0px;
		    display: none;
		}
		
	}
	.category_header_style {
		position: inline;
		self-align: center;
		top: 0;
		margin-left: 245px;
		width: 100%;
		height:100px;
		z-index: 20;

	}	

}


#sidebar_right {
	width: 250px;
	position: fixed;
	right: 0;
	top: 0;
	bottom: 0;
	height: 100%;
	background-image: url("right sidebar 2");
	padding:  0 0 0;
	z-index: 90;


	.bee{
		margin-top: 150px;

		position:relative;
		animation: ani-bee 10s ease infinite;
		transform-origin: 10% 10%;
		z-index: 100;
	}

	.bee-wing-left,.bee-wing-right,.bee-body{
		position:absolute;

	}

	.bee-wing-left{
		top: 0px;
		left: 0px;
		transform-origin: 50% 0%;
		animation: ani-left-wing 0.5s ease infinite;
		-webkit-filter: drop-shadow(2px 1px 1px rgba(255,255,255,.7) );
          	filter: drop-shadow(3px 3px 2px rgba(255,255,255,.7) );
	}

	.bee-wing-right{
		top: 0px;
		left: 0px;
		transform-origin: 50% 0%;
		animation: ani-right-wing 0.5s ease infinite;
		-webkit-filter: drop-shadow(2px 1px 1px rgba(255,255,255,.7) );
          	filter: drop-shadow(3px 3px 2px rgba(255,255,255,.7) );
	}

	@keyframes ani-left-wing {
	 0% {transform: rotate(-10deg);}
	 90% {transform: rotate(0deg);}
	 100% {transform: rotate(-20deg);}
	}

	@keyframes ani-right-wing {
	 0% {transform: rotate(10deg);}
	 90% {transform: rotate(0deg);}
	 100% {transform: rotate(20deg);}
	}

	@keyframes ani-bee {
		0%{ right:20px;transform: rotate(300deg);}
		50% {right:950px;transform: rotate(40deg);}
		100% {right:20px;transform: rotate(-400deg);}
	}	


	
	.what_is_beehive_style {
		position: absolute;
		margin-left: 2em;
		width: 50%;
		margin-top: 15px;
		z-index: 90;
	}
	a img.hover {
    	display: none;
    	border-bottom: 4px solid black;
		border-left: 4px solid black;
		border-right: 4px solid black;
		border-top: 4px solid black;
	}
	a img.default {
	    display: inherit;
	    border-bottom: 4px solid black;
		border-left: 4px solid black;
		border-right: 4px solid black;
		border-top: 4px solid black;
	}
	a:hover img.hover {
	    display: inherit;
	    border-bottom: 4px solid black;
		border-left: 4px solid black;
		border-right: 4px solid black;
		border-top: 4px solid black;
	}
	a:hover img.default {
	    display: none;
	    border-bottom: 4px solid black;
		border-left: 4px solid black;
		border-right: 4px solid black;
		border-top: 4px solid black;
	}

	p {
		position: absolute;
		
		font-size: 1.7em;
		font-family: 'Cutive Mono';
		font-weight: bold;
		left: 2em;
		line-spacing: .5em;
		margin-top: 235px;
		z-index: 90;

	}

	#sidebar_beehive_slide_in {
		position: absolute;
		word-spacing: 0em;
		width: 100%;
		transition: all 0.5s ease;
		-moz-transition: all 0.5s ease; /* Firefox 4 */
		-webkit-transition: all 0.5s ease; /* Safari and Chrome */
		-o-transition: all 0.5s ease; /* Opera */
		z-index: 100;
	}		


	li {
	  border-radius: 10px;
	  
	  margin-left: 6em;
	  margin-top: 5px;
	  background-color: #ffe066;
	  opacity: 30%;
	  list-style: none;
	  border: 1px solid black;
	  color: #000000;
	  text-align: center;
	  font-size: 14px;
	  padding: 1px;
	  width: 100px;
	  transition: all 0.5s;
	  cursor: pointer;
	  
	}

	li span {
	  cursor: pointer;
	  display: inline-block;
	  position: relative;
	  transition: 0.5s;
	}

	li span:after {
	  content: '\00bb';
	  position: absolute;
	  opacity: 0;
	  top: 0;
	  right: -20px;
	  transition: 0.5s;
	}
	li:hover span {
	  padding-right: 5px;
	}

	li:hover span:after {
	  opacity: 1;
	  right: 0;
	}
	


	/*SUKItheFox POPUP*/	

	#popup { 
		position: fixed;
		margin-left: 172px;
		bottom: 6px;
		z-index: 100;
		 }
	#popup img {
		-webkit-filter: drop-shadow(2px 1px 1px rgba(209, 166, 73,.7) );
          	filter: drop-shadow(3px 3px 2px rgba(209, 166, 73,.7) );
	}	 

	#popup a, #popup a:visited {
		position: relative;
		display: inline;
		text-align: center;
		font-weight: bold;
		padding: 1px 2px;
		bottom: 1px;
		
	}

	#popup a span {
		display: none;
		position: absolute;
		bottom: 1px;
		font-weight: bold;
			font-size: 1em;
			text-align: center;
			color: #252525;
	}

	#popup a:hover { 
		background-color: none; 
		

	}

	/* the IE correction rule */
	#popup a:hover	{
		text-indent: 0; /* added the default value */
	}

	#popup a:hover span {
		display: inline;
		position: absolute;
		bottom: -16px;
		left: -12.5em;
		font-weight: bold;
			font-size: .85em;
			text-align: center;
			color: #252525;
		
	}

	
}


.what_button {
	outline: none;
	background: transparent;
	border: 1px solid #d6dce0;
	padding: .5em 1.5em;
	border-radius: 1.5em;
	&:hover {
		border: 1px solid #33acb7;
		color: #33acb7;
		a {
			color: #33acb7 !important;
		}
	}
}

.clearfix:after {
   content: ".";
   visibility: hidden;
   display: block;
   height: 0;
   clear: both;
}

.buttons {
			position: absolute;
			float: right;
			margin-left: 12.2em;
			bottom: 85px;
			z-index: 100;
			
			.button {
				font-size: .8em;
				padding: 1em 3em;
				z-index: 100;
				&:hover {
					
					color: #33acb7;
						}
			}			
}		
	


