/*@media (max-width: 1300px) and (min-width: 700px) {
   #sidebar {
     display: block !important;
     
     max-width: 11%;
     z-index: 95;
    

     	nav {
     		
     		max-width: 10%;
     		padding-left: 0px;
     		z-index: 20;
     		ul{
     			padding-left: 0 !important;
     			font-size: 0.6em;
     			
     		}
     	}
	}

	#sidebar_right {
	 display: inline;
     max-width: 10%;
     z-index: 95;
	}

	#main_content {
	 display: sticky;
	 margin-left: 10px;
	 margin-right: 10px;
	 max-height: 50%;
	 max-width: 50%;
	 min-height: 5%;
	 min-width: 5%;
	}
	
}
*/