.user_container { 
  background: url('personal page.png') no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
    #sidebar {
      display: none;
    }

    #sidebar_right {
      display: none;
    }
    #header {
      display: none;
    }

}
.store_container {
  position: absolute;
  left: 870px;
  top: 400px;

}

.vertical-menu {
    width: 13vw; 
    margin-left: -2vw;
    margin-top: -9vh;
    z-index: 95;
    
}

.vertical-menu a {
    color: black; 
    padding: 2vw;
    text-decoration: none; 
    font-weight: 500;
    font-size: 2vw;
    line-height: 9vh;
    
    
}

.vertical-menu a:hover {
    color: #ffffff; 

}

.vertical-menu a.active {
    color: #ffffff; 
    
}


#home_logo {
  position: absolute;
  margin-top: -54vh;
  margin-left: 65.5vw;

  
  img {
  
  position: absolute;
  z-index: 95;
  img-shadow: 10px 10px 5px white;
  -webkit-filter: drop-shadow(2px 1px 1px rgba(255,255,255,.7) );
  filter: drop-shadow(3px 3px 2px rgba(255,255,255,.7) );
  }
}

.btn-oldschool {
    margin-left: 455px;
    margin-top: -50px;
    color: black;
    width: 3em;
    height: 75px;
    border: 2px outset white;
    background: transparent;
    padding: 2px;
    text-decoration: none;
}
.btn-oldschool:hover {
    color: #00008B;
    text-decoration: none;
}
.btn-oldschool:active {
    border-style: inset;
}
