
@import "semantic-ui";

.user_container { 
  background: url('personal page.png') no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

    #sidebar {
      display: none;
    }

    #sidebar_right {
      display: none;
    }
    #header {
      display: none;
    }
}

.vertical-menu {
    width: 13vw; 
    margin-left: -2vw;
    margin-top: -9vh;
    z-index: 95;
    
}

.vertical-menu a {
    color: black; 
    padding: 2vw;
    text-decoration: none; 
    font-weight: 500;
    font-size: 2vw;
    line-height: 9vh;
    
    
}

.vertical-menu a:hover {
    color: #ffffff; 

}

.vertical-menu a.active {
    color: #ffffff; 
    
}

#home_logo {
  position: absolute;
  margin-top: -54vh;
  margin-left: 65.5vw;

  
  img {
  
  position: absolute;
  z-index: 95;
  img-shadow: 10px 10px 5px white;
  -webkit-filter: drop-shadow(2px 1px 1px rgba(255,255,255,.7) );
  filter: drop-shadow(3px 3px 2px rgba(255,255,255,.7) );
  }
}
.ui_segment {
  bottom: 45.5vh;
  left: 36vw;
  position: fixed;
  .header_username {
    p {
    color: #7f1824;
    }
  }
  
}
.ui_reply_form {
  top: 55vh;
  left: 36vw;
  position: fixed;

  .field {
    width: 45vw;
  }
  .form-control {
    background: transparent;
    border: 2.5px solid black;
    border-style: inset;
    font-size: 1vw;
    font-family: Cutive Mono;
  }
  
}
.ui_segment1 {
	top: 22vh;
	left: 46vw;
	position: fixed;
  display: inline-block;
  .ui_list1 {
    font-size: 0.8vw;
    color: #7F1824;

    p {
      font-size: 1vw;
      margin-left: 2.5vw;
      color: #000000;
    }
  }
  h3 {
    font-weight: 200;
    font-stretch: expanded;
    font-size: 2vw;
    background: black;
    border: 4px solid black;
    border-style: outset;
    padding: 1vw 1vh;
    color: #C8ECF9;
  }

	
}
.ui_segment2 {
  top: 34vh;
  left: 33vw;
  position: fixed;
  display: inline-block;
  h3 {
    text-decoration: underline;
    font-weight: 400;
    font-stretch: expanded;
    font-size: 2vw;
  }
  .item2 {
    font-size: 0.8vw;
  }
}


.btn-start-conversation {
  display: inline-block;
  color: black;
  border: 2px outset white;
  background: transparent;
  padding: 0.5vh 0.5vw;
  text-decoration: none;
}  
.btn-start-conversation:hover {
    color: #7f1824;
    text-decoration: none;
}
.btn-start-conversation:active {
    border-style: inset;
}

#home_logo {
  position: absolute;
  margin-top: -54vh;
  margin-left: 65.5vw;

  
  img {
  
  position: absolute;
  z-index: 95;
  img-shadow: 10px 10px 5px white;
  -webkit-filter: drop-shadow(2px 1px 1px rgba(255,255,255,.7) );
  filter: drop-shadow(3px 3px 2px rgba(255,255,255,.7) );
  }
}

.ui_buttons {
      position: absolute;
      float: right;
      margin-left: -0.5vw;
      bottom: 17vh;
      z-index: 100;

      img{
        width: 5vh;     
      }     
} 

.ui_buttons img:active {          
  color: #ffffff;
  border: 2px outset white;
}

#ui_personal_icon {
  position: absolute;
  bottom: -1vh;
  left: -11vw;
  z-index: 90;

  
}  

#ui_avatar {
  position: absolute;
  bottom: 25vh;
  left: 13vw;
  z-index: 90;

  
}  


.upload_container {
  position: fixed;
  width: 42vw;
  height: 15vh;
  left: 35vw;
  top: 37vh;
  margin: 0 auto;
  border: 4.5px solid black;
  border-style: double;
  background: #FDFAA7;
  
  border-radius: .5em;
}

.btn-uploadoldschool {
    color: black;
    border: 2px outset white;
    background: transparent;
    padding: 0.5vh 0.5vw;
    text-decoration: none;
}
.btn-uploadoldschool:hover {
    color: #00008B;
    text-decoration: none;
}
.btn-uploadoldschool:active {
    border-style: inset;
}

