.user_container { 
  background: url('personal page.png') no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  font-family: 'Cutive Mono';

    #sidebar {
      display: none;
    }

    #sidebar_right {
      display: none;
    }
    #header {
      display: none;
    }


}


.vertical-menu {
    width: 13vw; 
    margin-left: 1vw;
    margin-top: 9.5vh;
    z-index: 95;
    
}

.vertical-menu a {
    color: black; 
    display: block;
    text-decoration: none; 
    font-weight: 500;
    font-size: 2vw;
    line-height: 9vh;    
}

.vertical-menu a:hover {
    color: #ffffff; 

}

.vertical-menu a.active {
    color: #ffffff; 
    
}


#home_logo {
  position: absolute;
  margin-top: -54vh;
  margin-left: 65.5vw;

  
  img {
  
  position: absolute;
  z-index: 95;
  img-shadow: 10px 10px 5px white;
  -webkit-filter: drop-shadow(2px 1px 1px rgba(255,255,255,.7) );
  filter: drop-shadow(3px 3px 2px rgba(255,255,255,.7) );
  }
}

.ui_buttons {
      position: absolute;
      float: right;
      margin-left: -0.5vw;
      bottom: 17vh;
      z-index: 100;

      img{
        width: 5vh;     
      }     
} 

.ui_buttons img:active {          
  color: #ffffff;
  border: 2px outset white;
}

#ui_personal_icon {
  position: absolute;
  bottom: -1vh;
  left: -11vw;
  z-index: 90;

  
}  

#ui_avatar {
  position: absolute;
  bottom: 25vh;
  left: 13vw;
  z-index: 90;

  
}  


#background_container{
  display: block;
  margin-left: 21vw;
  margin-top: -28vh;
  height: 45vh;
  width: 45vw;

  .user_content {
    margin-top: 9vh;
  }


  .personal_image  {
    border: 1px solid #d9d9d9;
    width: auto;
    height: 25vh;
  }
}

.btn-oldschool {
    margin-left: 21vw;
    margin-top: -40vh;
    color: black;
    width: 0.5vw;
    height: 0.3vh;
    border: 2px outset white;
    background: transparent;
    padding: 0.5vh 0.5vw;
    text-decoration: none;
}
.btn-oldschool:hover {
    color: #00008B;
    text-decoration: none;
}
.btn-oldschool:active {
    border-style: inset;
}



.round-image-50 {
    background-color: white;
    border: 1px solid #d9d9d9;
    border-radius: 50px;
    -moz-border-radius: 50px;
    -webkit-border-radius: 50px;
    height: 100px;
    width: 100px;
    overflow: hidden;
    text-align: center;
    img { width: 100% }
}


