.user_container { 
  background: url('personal page.png') no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.vertical-menu {
    width: 200px; 
    margin-left: 5px;
    margin-top: -90px;
    z-index: 95;
    
}

.vertical-menu a {
    color: black; 
    padding: 3px;
    text-decoration: none; 
    font-weight: 500;
    font-size: 2.6em;
    line-height: 95px;
    
}

.vertical-menu a:hover {
    color: #ffffff; 
}

.vertical-menu a.active {
    color: #ffffff; 
    
}

#home_logo {
  position: absolute;

  
  img {
  
  position: absolute;
  left: 950px;
  z-index: 95;
  img-shadow: 10px 10px 5px white;
  -webkit-filter: drop-shadow(2px 1px 1px rgba(255,255,255,.7) );
  filter: drop-shadow(3px 3px 2px rgba(255,255,255,.7) );
  }
}

.message_buttons {
	top: 220px;
	right: 590px;
	position: absolute;
	
}

td { 
	word-spacing: 100em;
	font-weight: bold;
	}
.btn {
    color: black;
    border: 2px outset white;
    background: transparent;
    text-decoration: none;
}
.btn:hover {
    color: #00008B;
    background:  #C8ECF9;
    text-decoration: none;
}
.btn:active {
    border-style: inset;
    background:  #C8ECF9;
}

.upload_container {
  width: 80%;
  bottom: 20%;
  margin-top: -20em;
  max-width: 1140px;
  margin: 0 auto;
  border: 5px solid outset black;
  background: transparent;
  padding: 0em 35%;
  border-radius: .5em;
}